/* @import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@197&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@197&family=Montserrat:wght@500&display=swap'); */


/*============================= About Slider Css========================== */


.text-box p, h3, small{
    font-family: 'Lexend Deca', sans-serif;
}

.text-box h3{
    color: aliceblue;
    font-weight: 600;
}

.text-box small{
    color: #00ffff;
    font-size: 1.5rem;
}

.left-box{
    border: solid #00ffff;
    border-width: 0px 2px 0px 0px;
}

.right-box{
    margin-left: 49.9%;
    border: solid #00ffff;
    border-width: 0px 0px 0px 2px;
}



/*============================= Media Queries ==========================*/

@media (max-width: 992px){
    .left-box{
        border: 1px solid #00ffff;
        width: 100%;
        margin-bottom: 20px;
    }

    .right-box{
        border: 1px solid #00ffff;
        width: 100%;
        margin: 20px 0;
    }
    .timeline{
        margin: 80px auto 130px auto;
    }
}


@media (max-width: 720px){
    .aboutBoxWrapper{
        padding: 3rem 0rem;
    }

    .about-box{
        width: 400px;
        height: 350px;
    }

    .work-content{
        padding-bottom: 130px;
    }
    .aboutBoxWrapper{
        flex-direction: column;
    }
    .about-top-section{
        padding-left: 0;
    }
}

@media (max-width: 500px){
    .titleHead h2{
        text-align: center;
    }

    .abtSlider{
        display: flex;
        flex-direction: column;
        padding-top: 5rem;
        text-align: center;
        align-items: center;
        justify-content: center;
        padding-left: 0;
        width: 100%;
    }

    .work-img img{
        width: 350px;
        height: 350px;
    }

    .workInnerContent{
        width: 350px;
        padding: 2rem 2rem;
    }

    .work-content{
        margin-top: 50px;
    }
}