.projects-box-wrapper{
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
  padding-inline: 20px;
  padding-block-start: 30px;
  padding-block-end: 130px;
  @include tablet-portrait{
    width: 90%;
    margin-left: auto;
    grid-template-columns: 1fr 1fr;
    padding-block-end: unset;
  }
  @include tablet-landscape{
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include desktop{
    width: 93%;
    gap: 40px;
  }
  .project-box{
    padding-block: 30px;
    padding-inline: 30px;
    background: #232323;
    display: grid;
    place-items: center;
    border-radius: 20px;
    border: none;
    box-shadow: 0px 0px 10px 5px #171717;
    transition: 0.4s;
    &:hover{
      border-bottom: 1px solid #00ffff;
      box-shadow: 0px 0px 10px 8px #171717;
    }
    @include desktop{
      padding-block: 40px;
    }
    img{
      width: 100px;
      height: 100px;
    }
    h3{
      padding-top: 20px;
      color: #00ffff;
      font-family: 'Montserrat', sans-serif;
      text-transform: capitalize;
      text-align: center;
    }
    p{
      color: #fff;
      font-family: 'Lexend Deca', sans-serif;
      letter-spacing: 1px;
      text-align: center;
    }
    a{
      text-decoration: none;
      color: #7fffd4;
      transition: 0.4s;
      border: 1px dashed #fff;
      border-radius: 30px;
      padding: 5px 20px;
      letter-spacing: 1px;
      &:hover{
        cursor: pointer;
        color: #fff;
        background: #00c8ff5c;
      }
    }
  }
}