@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');


.slider{
    position: relative;
    margin: 90px 0px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sliderWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.slideItemWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider .slide img{
    border-radius: 10px;
    width: 900px;
}

.slide {
    clip-path: circle(0% at 0 50%);
}

.slide.active {
    clip-path: circle(150% at 0 50%);
    transition: 2.5s;
    transition-property: clip-path;
}

.right-arrow{
    margin-left: -50px;
    font-size: 3rem;
    color: #212121d2;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.left-arrow {
    margin-right: -50px;
    font-size: 3rem;
    color: #434343c1;
    z-index: 10;
    cursor: pointer;
    user-select: none;
}

.slider-caption{
    position: absolute;
    width: 350px;
    bottom: 2rem;
    margin-left: -15rem;
}

.slider-caption h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;

}

.slider-caption p{
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 600;
    color: #191919;
}

@media(max-width: 1042px){
    .slider .slide img{
        width: 500px;
    }

    .slider-caption{
        width: 350px;
        bottom: 3rem;
        margin-left: 0rem;
    }

    .slider-caption h2{
        font-size: 1.5rem;
    }
    
    .slider-caption p{
        font-size: 14px;
    }

    .left-arrow, .right-arrow{
        font-size: 1.6rem;
    }

}