@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');
.title-line{
  opacity: 1;
  width: 100px;
  color: #ae23f9;
  height: 4px !important;
  margin: 10px auto;
  @include small-desktop{
    margin: 10px 0;
  }
}