@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200&display=swap');


.edu-header{
    margin-top: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.edu-header h2{
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 3px;
    padding-top: 15px;
    text-transform: uppercase;
}

.edu-header hr{
    opacity: 1;
    width: 100px;
    color: #ae23f9;
    height: 4px;
    margin: auto;
}

.edu-img-section{
    display: flex;
    justify-content: center;
    align-items: center;
}

.edu-img-section img{
    width: 450px;
    height: 450px;
}

.edu-content-section{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
}


.edu-content-section{
    font-family: 'Lexend Deca', sans-serif;
}

.Typography{
    font-family: 'Lexend Deca', sans-serif;
    color: #b0b0b0;
    letter-spacing: 1px;
}

.heading{
    color: #e0e0e0;
    font-family: 'Lexend Deca', sans-serif;
}

.AccordionDetails{
    background: #232323;
    text-transform: capitalize;
    font-family: 'Lexend Deca', sans-serif;
}

.Accordion .AccordionSummary{
    background: #232323;
    font-family: 'Lexend Deca', sans-serif;
}

.Accordion .AccordionSummary:hover{
    background: #434343;
    font-family: 'Lexend Deca', sans-serif;
}

.ExpandMoreIcon{
    color: #fff;
}


@media (max-width: 720px){
    .edu-content-section{
        padding-bottom: 130px;
    }
}

